[data-md-color-scheme="default"] {
  --md-primary-fg-color: #593E26; /* Forest monk brown */
  --md-primary-fg-color--light: #7A5C43;
  --md-primary-fg-color--dark: #3D2614;
  --md-accent-fg-color: #593E26;
  --md-typeset-a-color: #593E26;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #593E26;
  --md-primary-fg-color--light: #7A5C43;
  --md-primary-fg-color--dark: #3D2614;
  --md-accent-fg-color: #7A5C43;
  --md-typeset-a-color: #7A5C43;
}
:root {
  --md-text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --md-code-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}
.md-header { background-color: #593E26; }
.md-tabs   { background-color: #4A3018; }
.md-nav__link--active { color: #593E26 !important; }
.md-typeset a:hover   { color: #7A5C43; }
